.city-weather-card {
  display: grid;
  align-items: center;
  height: 250px;

  .bp3-non-ideal-state {
    text-align: left;
    align-items: flex-start;
    overflow: auto;
  }

  .top {
    display: flex;
    justify-content: space-between;
  }

  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
