.hourly-measurement {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  border-radius: 0;

  // NOTE(ersenal): We want hour measurement cards to retain their widths
  flex-grow: 0;
  flex-shrink: 0;

  // NOTE(ersenal): Striped measurements
  &:nth-child(even) {
    background-color: #fbfbfb;
  }

  .hour {
    font-weight: 600;
  }

  .minute {
    font-weight: 300;
    font-size: 0.8em;
  }

  .weekday {
    display: block;
    font-size: 0.8em;
    text-align: center;
  }
}
