.hourly-measurement {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 300px;
  border-radius: 0;

  .hour {
    font-weight: 600;
  }

  .minute {
    font-weight: 300;
    font-size: 0.8em;
  }

  .weekday {
    display: block;
    font-size: 0.8em;
    text-align: center;
  }
}
